@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: var(--font-inter), Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.w{
   color: #191818;
}
html {
   scroll-behavior: smooth;
}