@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: var(--font-inter), Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.w{
   color: #191818;
}
html {
   scroll-behavior: smooth;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.scrollbar-hide::-webkit-scrollbar {
   display: none;
 }
 
 .scrollbar-hide {
   -ms-overflow-style: none;
   scrollbar-width: none;
 }